.movie{

    &-info {
        display: inline-flex;

        justify-content: flex-end;
        width: 30vw;

        padding: 20px;
    }

    &-img {
        border-radius: 20px;

        width: 20vw;
        height: 8vh;
    }

    &-title {
        font-size: 13px;
        padding-right: 5px;
    }
}

@media(min-width: 480px) {
    .movie {
        &-title {
            font-size: 15px;
        }

        &-img {
            border-radius: 20px;
    
            width: 15vw;
            height: 15vh;
        }
    }
}

@media(min-width: 980px) {
    .movie {
        &-info {
            padding: 5px 0;
        }
        &-title {
            font-size: 20px;
        }

        &-img {
            border-radius: 20px;
    
            width: 15vw;
            height: 15vh;
        }
    }
}