.service {
    &-img {
        width: 20vw;
        height: 30vh;
    }

    &-h2 {
        width: 40%;
        font-size: 15px;
    }

    &-photoFilm {
        width: 30vw;
        height: 30vh;
    }

    &-link {
        display: inline-block;

        padding: 10px;
        margin: 10px;

        cursor: grab;
        text-decoration: none;
        color: rgb(49, 22, 1);

        border-radius: 10px;
        background-color: rgb(255, 236, 213);
        width: min-content;
    }
}

.robot {
    display: inline-flex;
    justify-content: flex-end;

}

@media (min-width: 980px) {
    .service {
        &-h2 {
            font-size: 25px;
        }

        &-img {
            width: 20vw;
            height: 50vh;
        }
    }
}