.tables {
    padding: 10px;

    &-day {
        display: block;
        display: inline-flex;

        justify-content: center;
        min-width: 20vw;
        height: 73vh;
        padding: 10px;
        margin: 20px;

        border-bottom: 2px solid black;

        background-color: rgb(250, 192, 142); border: 2px solid rgb(146, 113, 79);
        border-radius: 20px;

    }

    &--border {
        border: 2px solid rgb(146, 113, 79);
        border-radius: 10px;
        padding: 5px;
        background-color: rgb(255, 230, 184);
    }

    &-plan {
        width: 50px;
        height: 10px;
    }

    &-block {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &-button {
        display: block;

        background-color: rgb(250, 192, 142); border: 2px solid rgb(146, 113, 79);
        border-radius: 20px;
        color: rgb(49, 22, 1);

        padding: 10px;
    }
}

@media (min-width: 1090px) {
    .tables {
        background-color: rgb(250, 192, 142); border: 2px solid rgb(146, 113, 79);
        border-radius: 20px;

    }
}